<div class="col-md-8 col-md-offset-1">
  <h1>New Bid</h1>
  <div>
    <%= link_to 'Back to Auction', auction_path(@auction), class:"btn btn-warning" %>
  </div>
  </br>
  <%= form_for @bid, url: {action: "create"} do |f|%>
    <%= render 'shared/error_messages', object: f.object%>
    <%= f.label :bid_amount%>
    <%= f.text_field :bid_amount, class: "form-control"%>
    <%= f.submit "Bid", class: 'btn btn-primary'%>
  <% end %>
</div>
<%= render "auctions/auction_aside"%>
