<div class="title text-center"><%=@auction.name.titleize%></div>
<div class="col-md-8 col-md-offset-1">
  <div class="title">New Bid</div>
  <div>
    <%= link_to auction_path(@auction), class:"btn btn-default btn-sm" do %>
      <i class="fa fa-reply"></i> Back
    <% end %>
  </div>
  </br>
  <%= form_for @bid, url: {action: "create"} do |f|%>
    <%= render 'shared/error_messages', object: f.object%>
    <%= f.label :bid_amount%>
    <% if params[:buyout] %>
      <%= f.text_field :bid_amount, class: "form-control", value: @auction.buyout_price%>
    <% else %>
      <%= f.text_field :bid_amount, class: "form-control" %>
    <% end %>
    <%= button_tag type: "submit", class: 'btn btn-primary btn-sm' do%>
      Bid <i class="fa fa-check-circle-o"></i>
    <% end %>
  <% end %>
</div>
<%= render "auctions/auction_aside"%>
