<div class="col-md-3 text-sm-center">
	<div class="hidden-xs hiden-sm">
  	<%= render partial:'shared/profile_pic', locals:{resource: @auction.owner} %>  
	</div>
  </br>

  <% unless current_user == @auction.owner %>
    <div>
      <button class="btn btn-info col-md-12 message-modal-opener">
        <i class="fa fa-envelope"></i> Send Message
      </button>
    </div> 
    </br>
    </br>
    <%= render partial:'shared/message_modal', locals: {user: @auction.owner} %>
  <% end %>
  
  <div class="info-box">
    <%= link_to user_path(@auction.owner) do %>
      <h3><%=@auction.owner.display_name.capitalize%></h3>
    <% end %> 
    <div class="light-text">
      <i class="fa fa-user"></i> Owner
    </div>    
  </div>
      
  <div class="info-box">
    <h3><%= @auction.starting_price%></h3>
    <div class="light-text">
      <i class="fa fa-usd"></i> Starting Price
    </div>
  </div>
  <% if @auction.buyout_price %>
    <div class="info-box">
      <h3><%= @auction.buyout_price%></h3>
      <div class="light-text">
        <i class="fa fa-money"></i> Buyout Price
      </div>
    </div>
  <% end %>
  <div class="info-box">
    <h3><%= time_ago_in_words @auction.start_time%></h3>
    <div class="light-text">
      <i class="fa fa-history"></i> Time Passed
    </div>
  </div>
  <div class="info-box">
    <% if !@auction.bids.last %>
      <h3>$0.00</h3>
    <% elsif @last_bid %>
      <h3 class="success-text">$<%=@last_bid.bid_amount%></h3>
    <% else %>
      <h3 class="success-text">$<%=@auction.bids.last.bid_amount%></h3>
    <% end %>  
    <div class="light-text">
      <i class="fa fa-sort-asc"></i> Highest bid
    </div>
  </div>
  <div class="info-box">
    <h3><%= distance_of_time_in_words_to_now @auction.end_time%></h3>
    <div class="light-text">
      <i class="fa fa-clock-o"></i> Distance To End Time
    </div>
  </div>

  <% if current_user && @auction.end_time >Time.now && @auction.owner != current_user %>
    <%=link_to new_auction_bid_path(@auction), class:"btn btn-success col-md-12" do %>
      <i class="fa fa-check-circle"></i> Place Bid
    <% end %>
  <% end %>

</div>
