<div class="col-md-3">
  
  <div class="info-box">
    <h3><%= @auction.starting_price%></h3>
    <div class="light-text">
      <i class="fa fa-usd"></i> Starting Price
    </div>
  </div>
  <div class="info-box">
    <h3><%= @auction.buyout_price%></h3>
    <div class="light-text">
      <i class="fa fa-money"></i> Buyout Price
    </div>
  </div>
  <div class="info-box">
    <h3><%= time_ago_in_words @auction.start_time%></h3>
    <div class="light-text">
      <i class="fa fa-history"></i> Time Passed
    </div>
  </div>
  <div class="info-box">
    <h3><%= distance_of_time_in_words_to_now @auction.end_time%></h3>
    <div class="light-text">
      <i class="fa fa-clock-o"></i> Time Remaining
    </div>
  </div>

  <%=link_to new_auction_bid_path(@auction), class:"btn btn-success col-md-12" do %>
    <i class="fa fa-check-circle"></i> Place Bid
  <% end %>
</div>
