<div class="row">
  <div class="col-md-2">  
    <%=render "aside" %>
  </div>
    
  <div class="col-md-10 ">
    <%= form_tag auctions_path, class: "row", method: 'GET' do %>
      <div class="col-md-9 col-md-offset-1">
        <%= text_field_tag :search, params[:search], class:"form-control", 
          placeholder:"search by auction name..."%>
      </div>
      <%= hidden_field_tag :order, params[:order] %>
      <%= button_tag(type: 'submit', class:"btn btn-primary btn-sm col-md-1", name: nil) do%>
        <i class="fa fa-search"></i> Search
      <% end %>
    <% end %>
    <div class="col-md-12 center-text">
      <%= will_paginate @auctions, renderer: BootstrapPagination::Rails %>
    </div>
    <ul> 
      <%= render @auctions %>
    </ul>
    <div class="col-md-12 center-text">
      <%= will_paginate @auctions, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
