<div class="auction-content">
  <div class="row text-center">
    <div class="info-box col-md-4 col-sm-12 col-xs-12">
      <h3><%= @auction.starting_price%></h3>
      <div class="light-text">
        <i class="fa fa-usd"></i> Starting Price
      </div>
    </div>

    <div class="info-box col-md-4 col-sm-12 col-xs-12">
      <h3><%= time_ago_in_words @auction.start_time%></h3>
      <div class="light-text">
        <i class="fa fa-history"></i> Time Passed
      </div>
    </div>
    <div class="info-box col-md-4 col-sm-12 col-xs-12">
      <h3><%= distance_of_time_in_words_to_now @auction.end_time%></h3>
      <div class="light-text">
        <i class="fa fa-clock-o"></i> Ends In
      </div>
    </div>
  </div>

  
  <div class="title-sm">Description</div>
  <div class="well">
    <% if @auction.description.empty? %>
      No Description Avaliable
    <% else %>
      <%= @auction.description%>
    <% end %>
  </div>

  <div class="title-sm">Picture</div>
  <% if @auction.picture? %>
    <div class="upload-preview center-block">
      <%= image_tag(@auction.picture.url) %>
    </div>
  <% else %>
    <div class="well">
      No Picture Avaliable
    </div>
  <% end %>
  
  <div class="panel panel-info">
    <div class="panel-heading">
      Other Information
    </div>
    <table class="table">
      <tr>
        <td>Course Code:</td>
        <td><%= @auction.course_code %></td>
      </tr>
      <tr>
        <td>School:</td>
        <td><%= @auction.school %></td>
      </tr>
      <tr>
        <td>Start Time:</td>
        <td><%= @auction.start_time.in_time_zone("EST").strftime('Date: %Y-%m-%d, Time: %H-%M') %></td>
      </tr>
      <tr>
        <td>End Time:</td>
        <td><%= @auction.end_time.in_time_zone("EST").strftime('Date: %Y-%m-%d, Time: %H-%M') %></td>
      </tr>
    </table>
  </div>
  </div>
