<div class="col-md-8 col-md-offset-2">
  <div class="title text-center">
    <i class="fa fa-smile-o"></i> <%= @user.display_name.capitalize%>
  </div>
  <%= render partial:'shared/profile_pic', locals: {resource: @user} %>

  <% if current_user == @user %>
    <%= link_to history_user_path(current_user), class:"btn btn-default btn-sm" do %>
      <i class="fa fa-archive"></i> My History
    <% end %>
  <% else %>
    <button class="pull-right btn btn-info btn-sm message-modal-opener">
      <i class="fa fa-envelope"></i> Send Message
    </button>
 
    <%= render partial:"shared/message_modal", locals: {user: @user} %>
  <% end %>

  <%= link_to user_reviews_path(@user), class: "btn btn-default btn-sm" do %>
    <i class="fa fa-commenting-o"></i> User Reviews
  <% end %>
  
  </br>
  </br>
  <% if current_user == @user %>
    <%= render 'bids_table'%>
  <% end %>
  <%= render 'active_auctions' %>
  <%= render 'contacts'%>
</div>
